<!--#include virtual="/inc/header.shtml" -->

<!-- PAGE CONTENT -->

	<section class="content">
		<div class="wrapper">
			<h1>Detail Page</h1>

			<p>
				Jujubes cake cake jujubes cake sweet croissant gummies. Gingerbread marshmallow bear claw. Carrot cake marshmallow cotton candy bonbon cookie. Liquorice tiramisu jelly marshmallow. 
			</p>

			<p>
				Halvah cotton candy tart candy sweet dessert candy canes. Croissant chocolate bar marzipan. Cake biscuit cupcake donut sugar plum sesame snaps. Lollipop topping halvah fruitcake toffee cake halvah pudding gummies. Chupa chups wafer jelly tart biscuit jelly beans. Fruitcake muffin powder lollipop candy cheesecake icing.
			</p>

			<p>
				Gingerbread cupcake bonbon tootsie roll sweet roll marshmallow chocolate cake danish cookie. Candy canes croissant apple pie cotton candy ice cream bear claw gingerbread soufflé oat cake.
			</p>

			<h3>Sign up for this course</h3>
            <p>
            	<button>Apply</button>
            </p>
		</div>
	</section>

<!-- PAGE CONTENT -->

<!--#include virtual="/inc/footer.shtml" -->