<!--#include virtual="/inc/header.shtml" -->

<!-- PAGE CONTENT -->
	
	<section class="content">
		<div class="wrapper">
			<h1>Landing Page</h1>
    		<p>Souffl&eacute; gummi bears sweet icing pie. Macaroon macaroon pie apple pie. Cake jelly lemon drops toffee gummi bears sweet muffin tart croissant.</p>

    		<div class="columns">
            	<div class="column-2">
            		<h3>Graphic Design</h3>
	                <p>
	                	In our new program, you'll study the fundamentals of both disciplines, then focus on a print or web design path.
	                </p>
	                <p>
	                	<button class="tertiary">See Courses</button>
	                </p>
            	</div>
            	<div class="column-2">
            		<h3>Special Effects</h3>
	                <p>
	                	You’ll start with a solid foundation by taking courses in drawing, design, perspective, and color. Then you’ll gain critical thinking skills as you work on a range of projects.
	                </p>
	                <p>
	                	<button class="tertiary">See Courses</button>
	                </p>
            	</div>
            	<div class="column-2">
            		<h3>Web Design</h3>
	                <p>
	                	In our new program, you'll study the fundamentals of both disciplines, then focus on a print or web design path.
	                </p>
	                <p>
	                	<button class="tertiary">See Courses</button>
	                </p>
            	</div>
            	<div class="column-2">
            		<h3>Motion Graphics</h3>
	                <p>
	                	You’ll start with a solid foundation by taking courses in drawing, design, perspective, and color.
	                </p>
	                <p>
	                	<button class="tertiary">See Courses</button>
	                </p>
            	</div>
            </div>

            <div class="columns">
            	<div class="column-2">
            		<h3>Request a brochure</h3>
	                <p>
	                	<button>Download</button>
	                </p>
            	</div>
            	<div class="column-2">
            		<h3>Request a brochure</h3>
	                <p>
	                	<button>Download</button>
	                </p>
            	</div>
            </div>
		</div>
	</section>

<!-- PAGE CONTENT -->

<!--#include virtual="/inc/footer.shtml" -->