<!--#include virtual="/inc/header.shtml" -->

<!-- PAGE CONTENT -->

		<section class="content intro">
            <div class="wrapper">
                <h1>Module Guide</h1>
                <p>
                    Purpose: to build a pattern library of all of the Art Institutes components. 
                </p>

                <h4 id="tone">Primary Modules</h4>
                <p>
                    Please reference the annotated wireframes alongside the primary modules.
                </p>

                <hr>
                <h5>Area of Study module</h5>

                <div class="columns">
                	<div class="column-2">
                		<h3>Graphic Design</h3>
		                <p>
		                	In our new program, you'll study the fundamentals of both disciplines, then focus on a print or web design path.
		                </p>
		                <p>
		                	<button class="tertiary">See Courses</button>
		                </p>
                	</div>
                	<div class="column-2">
                		<h3>Special Effects</h3>
		                <p>
		                	You’ll start with a solid foundation by taking courses in drawing, design, perspective, and color. Then you’ll gain critical thinking skills as you work on a range of projects.
		                </p>
		                <p>
		                	<button class="tertiary">See Courses</button>
		                </p>
                	</div>
                </div>
                

                <hr>
                <h5>CTA module</h5>

                <h3>Request a brochure</h3>
                <p>
                	<button>Download</button>
                </p>

                <hr>

                <h4 id="tone">Secondary Modules</h4>
                <p>
                    Coming soon.
                </p>

                <h4 id="tone">Tertiary Modules</h4>
                <p>
                    Coming soon.
                </p>

            </div>
        </section>

<!-- PAGE CONTENT -->

<!--#include virtual="/inc/footer.shtml" -->