<!--#include virtual="/inc/header.shtml" -->

        <section class="content">
            <div class="wrapper">

                <h1>Style Guide</h1>

                <p>
                    Purpose: to build a design <em>system</em> that future-proofs the design &amp; content of the Art Institutes brand.
                </p>

                <ul>
                    <li><a href="#typography">Typography</a></li>
                    <li><a href="#color">Color</a></li>
                    <li><a href="#tone">Tone &amp; Voice</a></li>
                    <li><a href="#imagery">Imagery</a></li>
                    <li><a href="#lists">Lists</a></li>
                    <li><a href="#forms">Forms</a></li>
                    <li><a href="#tables">Tables</a></li>
                </ul>

                <h4 id="typography">Typography</h4>
                <p>
                    Headings consist of two fonts: Tolyer X Vintage No. 1 and Sketch Caslon. Tolyer X Vintage No. 1 is used in most cases, Sketch Caslon is used as an accent on H1 and H4 level headings. The body copy uses a browser-safe font - Trebuchet MS - to lessen the load on site performance speed.
                </p>

                <hr>
                <!--Headings-->
                <h5>Headings</h5>

            	<h1>Page Title - H1</h1>
                <h2>Page Title - H2</h2>
                <h3>Page Title - H3</h3>
                <h4>Page Title - H4</h4>
                <h5>Page Title - H5</h5>
                <h6>Page Title - H6</h6>

                <hr>
                <!--Paragraphs-->
                <h5>Paragraphs</h5>

                <p>The default body copy is set to 16px. For optimum readability, the paragraph length is set to 800px. See below for examples of text treatments and pairings.</p>

                <h2>H2 - Sample Inline Header</h2>
                <p>
                    Lorem ipsum dolor sit amet, <a href="#">link example</a> adipiscing elit. Integer ultrices velit id sem aliquet, non <strong>Bolded type example</strong> arcu bibendum. Maecenas posuere rhoncus sagittis. Integer egestas ac nisi pharetra, et vestibulum sem ullamcorper. Cras scelerisque <i>Italic type example</i> venenatis blandit. Etiam aliquet elit id augue ultricies, ac ultrices justo vestibulum. Nulla sed dolor id justo <mark>Mark type example</mark>. Integer ultrices velit id sem aliquet, non sodales arcu bibendum.
                </p>

                <h3>H3 - Sample Inline Header</h3>
                <p>
                    Integer ultrices velit id sem aliquet, non sodales arcu bibendum. Venenatis blandit. Etiam aliquet elit id augue ultricies, ac ultrices justo vestibulum. Nulla sed dolor id justo. Lorem ipsum dolor sit amet, <a href="#">link type example</a> adipiscing elit. Integer ultrices velit id sem aliquet, non.
                </p>

                <h4>H4 - Sample Inline Header</h4>
                <p>
                    Maecenas posuere rhoncus sagittis. Integer egestas ac nisi pharetra, et vestibulum sem ullamcorper. ac ultrices justo vestibulum. Nulla sed dolor id justo. Integer ultrices velit id sem aliquet, non sodales arcu bibendum.
                </p>

                <blockquote>
                    Shake it off!
                    <br>
                    <small>- Taylor Swift</small>
                </blockquote>

                <h4 id="color">Color</h4>
                <p>
                    The primary colors used throughout the site are #fffefe, #5a534e, and #56bbb9. The secondary colors are pulled directly from the truRoots product packaging. The concept around color is to use a [blank] slate background with bold splashes color from the product packaging.
                </p>

                <h4 id="tone">Tone &amp; Voice</h4>
                <p>
                    <p>
                    The Art Institutes brand tone should be energetic, confident, direct, &amp; passionate. The brand personality should be curious, intelligent, creative &amp; bold.
                </p>
                </p>

                <h4 id="tone">Imagery</h4>
                <ul>
                    <li>Backgrounds can consist of slates, gray woods, dark cement, dark marbles, and used &amp; aged wood - not overly rustic.</li>
                    <li>Props: old spoons, cast iron skillet, dark speckled pans, dark marble, aged silverware.</li>
                    <li>Use natural light or 'simulated' natural light to acheive this tone.</li>
                    <li>Product should be front and center - the focus of the image.</li>
                </ul>

                <!--List examples-->
                <h4 id="lists">Lists</h4>
                <p>Lists are used extensively throughout the site. The following are examples of the most common forms.</p>

                <!--basic lists-->
                <hr>
                <h5>Basic lists</h5>
                <ul>
                    <li>List item</li>
                    <li>List item two</li>
                    <li>List item three</li>
                    <li><a href="#">Linked list item</a></li>
                </ul>

                <!--Recipe List-->


                <!--Forms-->
                <h4 id="forms">Forms</h4>
                <p>The following are examples of different form elements and buttons.</p>

                <hr>
                <h5>Form Elements</h5>

                <form>
                    <fieldset id="about">
                        <legend>Legend</legend>
                        <ol>
                            <li>
                                <label for="type">
                                    Field label <abbr title="required">*</abbr>
                                </label>
                                <select class="required" name="type" id="type" data-val-required="Required" data-val="true" aria-required="true">
                                    <option value="">
                                        -Select One-
                                    </option>
                                    <option value="Compliment">
                                        Option 1
                                    </option>
                                    <option value="Complaint">
                                        Option 2
                                    </option>
                                    <option value="Question">
                                        Option 3
                                    </option>
                                </select>
                            </li>
                            <li>
                                <label for="FirstName">Field Label <abbr title="required">*</abbr></label>
                                <input type="text" class="required" value="" name="FirstName" id="FirstName" data-val-required="Required" data-val="true" aria-required="true">
                                <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                            </li>
                            <li>
                                <label for="Message">Field Label <abbr title="required">*</abbr></label>
                                <textarea rows="2" name="Message" id="Message" data-val-required="Required" data-val="true" cols="20" aria-required="true"></textarea>
                            </li>
                        </ol>
                    </fieldset>
                </form>

                <hr>
                <h5>Buttons</h5>

                <p>
                <button>Primary Button</button>
                </p>
                <p>
                <button class="secondary">Secondary Button</button>
                </p>
                <p>
                <button class="tertiary">Tertiary Button</button>
                </p>

                <!--tables-->
                <h4 id="tables">Tables</h4>
                <p>Tables are not currently used in the site.</p>

                <table>
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>Name</th>
                            <th>Dept</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Building 1</td>
                            <td>John Doe</td>
                            <td>213</td>
                        </tr>
                        <tr>
                            <td>Building 2</td>
                            <td>Sarah Jane</td>
                            <td>564</td>
                        </tr>
                        <tr>
                            <td>Building 3</td>
                            <td>Billy White</td>
                            <td>675</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </section>

<!-- PAGE CONTENT -->

<!--#include virtual="/inc/footer.shtml" -->
